<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:beans="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:lang="http://www.springframework.org/schema/lang"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">


  <!--bean id="objectA" class="org.csedemo.spring.ClassA" p:objectB-ref="objectB" p:objectC-ref="objectC" init-method="doSomething"/>
  <bean id="objectB" class="org.csedemo.spring.ClassB"/>
  <bean id="objectC" class="org.csedemo.spring.ClassC"/-->
  <bean id="sms" class="org.cse.springtute.StudentManagementSystem" p:repo-ref="repo1"> </bean>
  <bean id="repo1" class="org.cse.springtute.SimpleStudentRepository"></bean>
  <bean id="student1"  class="org.cse.springtute.Student" p:firstName="LAAAA" p:lastName="WWWWW" p:regNumber="1000" p:address="jjjj" > </bean>
  <bean id="student2" class="org.cse.springtute.Student" p:firstName="Lasitha" p:lastName="Weerasinghe" p:regNumber="100577" p:address="Nittambuwa, Urapola"></bean>


  </beans>